/* Welcome to Compass.
* In this file you should write your main styles. (or centralize your imports)
* Import this file using the following HTML or equivalent:
* <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url(http://fonts.googleapis.com/css?family=Raleway:300,700,900|Roboto+Slab:300);
/* line 5, ../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/**
 * Reset some basic elements
 */
/* line 4, ../../_compass/partials/_base.scss */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

/**
 * Basic styling
 */
/* line 17, ../../_compass/partials/_base.scss */
body {
  font-family: "Roboto Slab", sans-serif;
  font-size: 18px;
  line-height: 38px;
  font-weight: 300;
  color: #111;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
}

/* line 27, ../../_compass/partials/_base.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
/* line 34, ../../_compass/partials/_base.scss */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure {
  margin-bottom: 15px;
}

/**
 * Images
 */
/* line 46, ../../_compass/partials/_base.scss */
img {
  max-width: 100%;
  vertical-align: middle;
}

/**
 * Figures
 */
/* line 56, ../../_compass/partials/_base.scss */
figure > img {
  display: block;
}

/* line 60, ../../_compass/partials/_base.scss */
figcaption {
  font-size: 15.75px;
}

/**
 * Lists
 */
/* line 69, ../../_compass/partials/_base.scss */
ul, ol {
  margin-left: 30px;
}

/* line 74, ../../_compass/partials/_base.scss */
li > ul,
li > ol {
  margin-bottom: 0;
}

/**
 * Headings
 */
/* line 85, ../../_compass/partials/_base.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: 900;
}

/**
 * Links
 */
/* line 94, ../../_compass/partials/_base.scss */
a {
  color: #040810;
  text-decoration: none;
}
/* line 98, ../../_compass/partials/_base.scss */
a:visited {
  color: black;
}
/* line 102, ../../_compass/partials/_base.scss */
a:hover {
  color: #111;
  text-decoration: underline;
}

/**
 * Blockquotes
 */
/* line 113, ../../_compass/partials/_base.scss */
blockquote {
  color: #828282;
  border-left: 4px solid #e8e8e8;
  padding-left: 15px;
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic;
}
/* line 121, ../../_compass/partials/_base.scss */
blockquote > :last-child {
  margin-bottom: 0;
}

/**
 * Code formatting
 */
/* line 131, ../../_compass/partials/_base.scss */
pre,
code {
  font-size: 15px;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  background-color: #eef;
}

/* line 139, ../../_compass/partials/_base.scss */
code {
  padding: 1px 5px;
}

/* line 143, ../../_compass/partials/_base.scss */
pre {
  padding: 8px 12px;
  overflow-x: scroll;
}
/* line 147, ../../_compass/partials/_base.scss */
pre > code {
  border: 0;
  padding-right: 0;
  padding-left: 0;
}

/**
 * Wrapper
 */
/**
 * Clearfix
 */
/* line 176, ../../_compass/partials/_base.scss */
.footer-col-wrapper:after {
  content: "";
  display: table;
  clear: both;
}

/**
 * Icons
 */
/* line 190, ../../_compass/partials/_base.scss */
.icon > svg {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
}
/* line 196, ../../_compass/partials/_base.scss */
.icon > svg path {
  fill: #828282;
}

/* line 16, ../../_compass/partials/_type.scss */
h1 {
  font-size: 4.33333em;
  line-height: 1.46154em;
  letter-spacing: -2px;
  margin: 0.63333em 0 0 0;
}
@media (max-width: 657px) {
  /* line 16, ../../_compass/partials/_type.scss */
  h1 {
    font-size: 3.33333em;
    line-height: 1.26667em;
    letter-spacing: -1px;
  }
}

/* line 26, ../../_compass/partials/_type.scss */
h2 {
  font-size: 2.22222em;
  line-height: 1.9em;
}

/* line 30, ../../_compass/partials/_type.scss */
h3 {
  font-size: 1.33333em;
  line-height: 1.58333em;
}

/* line 34, ../../_compass/partials/_type.scss */
h4 {
  font-size: 1.11111em;
  line-height: 1.9em;
}

/* line 38, ../../_compass/partials/_type.scss */
h5 {
  font-size: 0.88889em;
  line-height: 2.375em;
}

/* line 42, ../../_compass/partials/_type.scss */
h6 {
  font-size: 0.72222em;
  line-height: 2.92308em;
}

/* line 46, ../../_compass/partials/_type.scss */
h1, h2, h3, h4, h5, h6 {
  color: #000;
  text-rendering: optimizeLegibility;
}

/* line 53, ../../_compass/partials/_type.scss */
p {
  color: #505050;
  margin: 0 0 2.11111em 0;
}

/* line 58, ../../_compass/partials/_type.scss */
strong {
  color: #303030;
}

/* line 63, ../../_compass/partials/_type.scss */
ul, ol, dl {
  margin-top: 0;
}

/* line 67, ../../_compass/partials/_type.scss */
dt {
  font-weight: bold;
}

/* line 70, ../../_compass/partials/_type.scss */
dd {
  margin-bottom: .5rem;
}

/* line 75, ../../_compass/partials/_type.scss */
.center-middle {
  display: table;
  height: 100%;
  width: 100%;
}
/* line 80, ../../_compass/partials/_type.scss */
.center-middle span {
  display: table-cell;
  vertical-align: middle;
  padding: 0 1rem;
}

/* line 87, ../../_compass/partials/_type.scss */
hr {
  position: relative;
  margin: 1.5rem 0;
  border: 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #fff;
}

/* line 95, ../../_compass/partials/_type.scss */
abbr {
  font-size: 85%;
  font-weight: bold;
  color: #555;
  text-transform: uppercase;
}

/* line 101, ../../_compass/partials/_type.scss */
abbr[title] {
  cursor: help;
  border-bottom: 1px dotted #e5e5e5;
}

/* Quotes */
/* line 107, ../../_compass/partials/_type.scss */
blockquote {
  padding: .5rem 1rem;
  margin: .8rem 0;
  color: #7a7a7a;
  border-left: .25rem solid #e5e5e5;
}
@media (min-width: 30em) {
  /* line 107, ../../_compass/partials/_type.scss */
  blockquote {
    padding-right: 5rem;
    padding-left: 1.25rem;
  }
}

/* line 128, ../../_compass/partials/_type.scss */
.lead {
  font-size: 1.22222em;
  line-height: 1.72727em;
  text-align: left;
  color: rgba(30, 30, 30, 0.5);
}

/* line 134, ../../_compass/partials/_type.scss */
.sub-head {
  font-size: 1.22222em;
  line-height: 1.72727em;
  text-align: center;
  color: rgba(30, 30, 30, 0.5);
}

/* line 140, ../../_compass/partials/_type.scss */
.tagline {
  font-size: 1.22222em;
  line-height: 1.72727em;
  text-align: center;
  color: rgba(30, 30, 30, 0.5);
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

/* line 1, ../../_compass/partials/_layout.scss */
body {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../../var/lib/gems/2.1.0/gems/susy-2.2.2/sass/susy/output/support/_clearfix.scss */
body:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 5, ../../_compass/partials/_layout.scss */
figure {
  margin-bottom: 2.11111em;
}

/* line 9, ../../_compass/partials/_layout.scss */
.site-header {
  min-height: 56px;
  position: relative;
  padding: 0 20px;
  background-color: #000;
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

/* line 20, ../../_compass/partials/_layout.scss */
.site-title {
  font-size: 26px;
  line-height: 56px;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;
}
/* line 27, ../../_compass/partials/_layout.scss */
.site-title, .site-title:visited {
  color: #fff;
}

/* line 33, ../../_compass/partials/_layout.scss */
.site-nav {
  float: right;
  line-height: 56px;
}
/* line 37, ../../_compass/partials/_layout.scss */
.site-nav .menu-icon {
  display: none;
}
/* line 41, ../../_compass/partials/_layout.scss */
.site-nav .page-link {
  color: #fff;
  line-height: 38px;
}
/* line 46, ../../_compass/partials/_layout.scss */
.site-nav .page-link:not(:first-child) {
  margin-left: 20px;
}
@media screen and (max-width: 600px) {
  /* line 33, ../../_compass/partials/_layout.scss */
  .site-nav {
    position: absolute;
    top: 9px;
    right: 14px;
    background-color: #000;
    text-align: right;
  }
  /* line 58, ../../_compass/partials/_layout.scss */
  .site-nav .menu-icon {
    display: block;
    float: right;
    width: 36px;
    height: 26px;
    line-height: 0;
    padding-top: 10px;
    text-align: center;
  }
  /* line 67, ../../_compass/partials/_layout.scss */
  .site-nav .menu-icon > svg {
    width: 18px;
    height: 15px;
  }
  /* line 71, ../../_compass/partials/_layout.scss */
  .site-nav .menu-icon > svg path {
    fill: #fff;
  }
  /* line 77, ../../_compass/partials/_layout.scss */
  .site-nav .trigger {
    clear: both;
    display: none;
    padding-top: 20px;
  }
  /* line 83, ../../_compass/partials/_layout.scss */
  .site-nav:hover .trigger {
    display: block;
    padding-bottom: 5px;
  }
  /* line 88, ../../_compass/partials/_layout.scss */
  .site-nav .page-link {
    display: block;
    padding: 5px 10px;
  }
}

/**
* Page content
*/
/* line 110, ../../_compass/partials/_layout.scss */
.bloglist h2 {
  line-height: 1.26667em;
}
/* line 114, ../../_compass/partials/_layout.scss */
.bloglist .date {
  margin-top: -2.11111em;
  color: #141414;
}
/* line 119, ../../_compass/partials/_layout.scss */
.bloglist ul {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../../var/lib/gems/2.1.0/gems/susy-2.2.2/sass/susy/output/support/_clearfix.scss */
.bloglist ul:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 122, ../../_compass/partials/_layout.scss */
.bloglist ul li {
  margin-bottom: 4.22222em;
  padding-left: 16.94915%;
  padding-right: 16.94915%;
  position: relative;
  text-align: center;
}
@media (max-width: 657px) {
  /* line 122, ../../_compass/partials/_layout.scss */
  .bloglist ul li {
    padding-left: 8.47458%;
    padding-right: 8.47458%;
  }
}
/* line 132, ../../_compass/partials/_layout.scss */
.bloglist ul li p {
  text-align: center;
}
@media (max-width: 657px) {
  /* line 132, ../../_compass/partials/_layout.scss */
  .bloglist ul li p {
    text-align: justify;
  }
}
/* line 140, ../../_compass/partials/_layout.scss */
.bloglist ul li:hover {
  background-color: #f0f0f0;
}
/* line 144, ../../_compass/partials/_layout.scss */
.bloglist ul li a {
  display: block;
  height: 100%;
  padding: 2.5%;
}
@media (max-width: 657px) {
  /* line 144, ../../_compass/partials/_layout.scss */
  .bloglist ul li a {
    padding: 0;
  }
}
/* line 153, ../../_compass/partials/_layout.scss */
.bloglist ul li a .post-content {
  overflow: hidden;
  *zoom: 1;
}
/* line 162, ../../_compass/partials/_layout.scss */
.bloglist ul li a:hover {
  color: rgba(30, 30, 30, 0.5);
  text-decoration: none;
}
/* line 167, ../../_compass/partials/_layout.scss */
.bloglist ul li a:visited {
  color: rgba(30, 30, 30, 0.5);
}

/* line 175, ../../_compass/partials/_layout.scss */
.post-meta {
  font-size: 0.875em;
  line-height: 2.4127em;
  color: #828282;
}

/* line 180, ../../_compass/partials/_layout.scss */
.post-link {
  display: block;
}

/**
* Home
*/
/* line 189, ../../_compass/partials/_layout.scss */
.about-index {
  width: 800px;
  margin: 0 auto;
}
/* line 193, ../../_compass/partials/_layout.scss */
.about-index img {
  margin-bottom: 2.11111em;
}

/* line 198, ../../_compass/partials/_layout.scss */
.center {
  text-align: center;
}

/* line 203, ../../_compass/partials/_layout.scss */
.instagram {
  clear: left;
}

/* line 207, ../../_compass/partials/_layout.scss */
.work ul, .instagram ul, .booklist ul, .experiments ul {
  width: 1200px;
  margin: 0 auto;
}
@media (min-width: 1035px) and (max-width: 1250px) {
  /* line 207, ../../_compass/partials/_layout.scss */
  .work ul, .instagram ul, .booklist ul, .experiments ul {
    width: 1011px;
  }
}
@media (min-width: 977px) and (max-width: 1035px) {
  /* line 207, ../../_compass/partials/_layout.scss */
  .work ul, .instagram ul, .booklist ul, .experiments ul {
    width: 930px;
  }
}
@media (min-width: 657px) and (max-width: 977px) {
  /* line 207, ../../_compass/partials/_layout.scss */
  .work ul, .instagram ul, .booklist ul, .experiments ul {
    width: 600px;
  }
  /* line 220, ../../_compass/partials/_layout.scss */
  .work ul li:last-child, .instagram ul li:last-child, .booklist ul li:last-child, .experiments ul li:last-child {
    display: none;
  }
}
@media (max-width: 657px) {
  /* line 207, ../../_compass/partials/_layout.scss */
  .work ul, .instagram ul, .booklist ul, .experiments ul {
    width: 480px;
  }
  /* line 228, ../../_compass/partials/_layout.scss */
  .work ul li:last-child, .instagram ul li:last-child, .booklist ul li:last-child, .experiments ul li:last-child {
    display: none;
  }
}
/* line 238, ../../_compass/partials/_layout.scss */
.work ul li, .instagram ul li, .booklist ul li, .experiments ul li {
  float: left;
  width: 400px;
  height: 400px;
}
@media (min-width: 1035px) and (max-width: 1250px) {
  /* line 238, ../../_compass/partials/_layout.scss */
  .work ul li, .instagram ul li, .booklist ul li, .experiments ul li {
    width: 337px;
    height: 337px;
  }
}
@media (min-width: 977px) and (max-width: 1035px) {
  /* line 238, ../../_compass/partials/_layout.scss */
  .work ul li, .instagram ul li, .booklist ul li, .experiments ul li {
    width: 310px;
    height: 310px;
  }
}
@media (min-width: 657px) and (max-width: 977px) {
  /* line 238, ../../_compass/partials/_layout.scss */
  .work ul li, .instagram ul li, .booklist ul li, .experiments ul li {
    width: 300px;
    height: 300px;
  }
}
@media (max-width: 657px) {
  /* line 238, ../../_compass/partials/_layout.scss */
  .work ul li, .instagram ul li, .booklist ul li, .experiments ul li {
    width: 240px;
    height: 240px;
  }
}
/* line 261, ../../_compass/partials/_layout.scss */
.work ul li img, .instagram ul li img, .booklist ul li img, .experiments ul li img {
  height: 100%;
  width: 100%;
}
/* line 268, ../../_compass/partials/_layout.scss */
.work ul figure, .instagram ul figure, .booklist ul figure, .experiments ul figure {
  position: relative;
  height: 100%;
  background: #040810;
  overflow: hidden;
  margin: 0;
}
/* line 275, ../../_compass/partials/_layout.scss */
.work ul figure img, .instagram ul figure img, .booklist ul figure img, .experiments ul figure img {
  width: 100%;
  height: 100%;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 286, ../../_compass/partials/_layout.scss */
.work ul figure figcaption, .instagram ul figure figcaption, .booklist ul figure figcaption, .experiments ul figure figcaption {
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 2.22222em;
  line-height: 1.9em;
  color: #fff;
  opacity: 0;
  -moz-transform: translateY(25px);
  -ms-transform: translateY(25px);
  -webkit-transform: translateY(25px);
  transform: translateY(25px);
}
/* line 298, ../../_compass/partials/_layout.scss */
.work ul figure figcaption .project-type ul, .instagram ul figure figcaption .project-type ul, .booklist ul figure figcaption .project-type ul, .experiments ul figure figcaption .project-type ul {
  width: 65.51724%;
  float: left;
  margin-right: 3.44828%;
}
/* line 302, ../../_compass/partials/_layout.scss */
.work ul figure figcaption .project-type li, .instagram ul figure figcaption .project-type li, .booklist ul figure figcaption .project-type li, .experiments ul figure figcaption .project-type li {
  width: 6.77966%;
  float: left;
  margin-right: 1.69492%;
  font-size: 0.55556em;
  line-height: 1.52em;
  font-weight: 100;
  list-style-type: none;
}
/* line 309, ../../_compass/partials/_layout.scss */
.work ul figure figcaption .instacaption, .instagram ul figure figcaption .instacaption, .booklist ul figure figcaption .instacaption, .experiments ul figure figcaption .instacaption {
  font-size: 0.55556em;
  line-height: 1.52em;
  font-weight: 300;
}
/* line 317, ../../_compass/partials/_layout.scss */
.work ul a, .instagram ul a, .booklist ul a, .experiments ul a {
  display: block;
  position: relative;
  height: 100%;
  text-decoration: none;
}
/* line 325, ../../_compass/partials/_layout.scss */
.work ul a:hover > figure figcaption, .instagram ul a:hover > figure figcaption, .booklist ul a:hover > figure figcaption, .experiments ul a:hover > figure figcaption {
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  opacity: 1;
}
/* line 330, ../../_compass/partials/_layout.scss */
.work ul a:hover > figure img, .instagram ul a:hover > figure img, .booklist ul a:hover > figure img, .experiments ul a:hover > figure img {
  opacity: 0.08;
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/**
* Sections
*/
/* line 344, ../../_compass/partials/_layout.scss */
section {
  overflow: hidden;
  *zoom: 1;
  display: block;
}

/* line 349, ../../_compass/partials/_layout.scss */
.section-title {
  text-align: center;
  padding-left: 8.47458%;
  padding-right: 8.47458%;
}

/* line 353, ../../_compass/partials/_layout.scss */
.sub-head {
  text-align: center;
  padding-left: 8.47458%;
  padding-right: 8.47458%;
}
@media (max-width: 657px) {
  /* line 353, ../../_compass/partials/_layout.scss */
  .sub-head {
    text-align: justify;
  }
}

/**
* Posts
*/
/* line 366, ../../_compass/partials/_layout.scss */
.post-header {
  width: 83.05085%;
  float: left;
  margin-right: 1.69492%;
  margin-left: 8.47458%;
  margin-bottom: 2.11111em;
  text-align: center;
}
/* line 372, ../../_compass/partials/_layout.scss */
.post-header figure {
  text-align: center;
}
/* line 375, ../../_compass/partials/_layout.scss */
.post-header figure img {
  margin: 0 auto;
}

@media screen and (max-width: 800px) {
  /* line 381, ../../_compass/partials/_layout.scss */
  .post-title {
    font-size: 36px;
  }
}

/* line 387, ../../_compass/partials/_layout.scss */
.post {
  margin-bottom: 2.11111em;
}
/* line 389, ../../_compass/partials/_layout.scss */
.post img, .post video {
  display: block;
  margin: 2.11111em auto;
}

/* line 398, ../../_compass/partials/_layout.scss */
.project .post {
  width: 49.15254%;
  float: left;
  margin-right: 1.69492%;
  margin-bottom: 8.44444em;
}
@media (max-width: 657px) {
  /* line 398, ../../_compass/partials/_layout.scss */
  .project .post {
    width: 83.05085%;
    float: left;
    margin-right: 1.69492%;
    padding-left: 8.47458%;
    padding-right: 8.47458%;
  }
}
/* line 406, ../../_compass/partials/_layout.scss */
.project .post img, .project .post video {
  display: block;
  margin: 2.11111em auto;
}
/* line 415, ../../_compass/partials/_layout.scss */
.project .post-meta {
  margin-top: 5.86889em;
}
@media (max-width: 657px) {
  /* line 415, ../../_compass/partials/_layout.scss */
  .project .post-meta {
    margin-top: 2.11111em;
  }
}

/* line 424, ../../_compass/partials/_layout.scss */
.mosaic {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}
/* line 427, ../../_compass/partials/_layout.scss */
.mosaic li {
  width: 23.07692%;
  float: left;
}
/* line 66, ../../../../../../var/lib/gems/2.1.0/gems/susy-2.2.2/sass/susy/language/susy/_gallery.scss */
.mosaic li:nth-child(4n + 1) {
  margin-left: 0;
  margin-right: -100%;
  clear: both;
  margin-left: 0;
}
/* line 66, ../../../../../../var/lib/gems/2.1.0/gems/susy-2.2.2/sass/susy/language/susy/_gallery.scss */
.mosaic li:nth-child(4n + 2) {
  margin-left: 25.64103%;
  margin-right: -100%;
  clear: none;
}
/* line 66, ../../../../../../var/lib/gems/2.1.0/gems/susy-2.2.2/sass/susy/language/susy/_gallery.scss */
.mosaic li:nth-child(4n + 3) {
  margin-left: 51.28205%;
  margin-right: -100%;
  clear: none;
}
/* line 66, ../../../../../../var/lib/gems/2.1.0/gems/susy-2.2.2/sass/susy/language/susy/_gallery.scss */
.mosaic li:nth-child(4n + 4) {
  margin-left: 76.92308%;
  margin-right: -100%;
  clear: none;
}
/* line 430, ../../_compass/partials/_layout.scss */
.mosaic:nth-child(4) {
  float: right;
  margin-right: 0;
}

/* line 434, ../../_compass/partials/_layout.scss */
.mosaic-two {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}
/* line 437, ../../_compass/partials/_layout.scss */
.mosaic-two li {
  width: 44.44444%;
  float: left;
}
/* line 66, ../../../../../../var/lib/gems/2.1.0/gems/susy-2.2.2/sass/susy/language/susy/_gallery.scss */
.mosaic-two li:nth-child(2n + 1) {
  margin-left: 0;
  margin-right: -100%;
  clear: both;
  margin-left: 0;
}
/* line 66, ../../../../../../var/lib/gems/2.1.0/gems/susy-2.2.2/sass/susy/language/susy/_gallery.scss */
.mosaic-two li:nth-child(2n + 2) {
  margin-left: 55.55556%;
  margin-right: -100%;
  clear: none;
}
/* line 440, ../../_compass/partials/_layout.scss */
.mosaic-two:nth-child(2) {
  float: right;
  margin-right: 0;
}

@media screen and (max-width: 800px) {
  /* line 449, ../../_compass/partials/_layout.scss */
  .post-content h2 {
    font-size: 28px;
  }
}
/* line 456, ../../_compass/partials/_layout.scss */
.post-content h3 {
  font-size: 26px;
}
@media screen and (max-width: 800px) {
  /* line 456, ../../_compass/partials/_layout.scss */
  .post-content h3 {
    font-size: 22px;
  }
}
/* line 464, ../../_compass/partials/_layout.scss */
.post-content h4 {
  font-size: 20px;
}
@media screen and (max-width: 800px) {
  /* line 464, ../../_compass/partials/_layout.scss */
  .post-content h4 {
    font-size: 18px;
  }
}

/* line 475, ../../_compass/partials/_layout.scss */
.project .giffy {
  width: 79.59184%;
  float: left;
  margin-right: 2.04082%;
  margin-left: 8.47458%;
}
/* line 479, ../../_compass/partials/_layout.scss */
.project .giffy img {
  margin: 0;
  width: 31.03448%;
  float: left;
  margin-right: 3.44828%;
}
/* line 484, ../../_compass/partials/_layout.scss */
.project .giffy figcaption {
  font-size: 1.55556em;
  line-height: 1.35714em;
  width: 65.51724%;
  float: left;
  margin-right: 3.44828%;
  float: right;
  margin-right: 0;
}

/* line 495, ../../_compass/partials/_layout.scss */
.blogpost .post-meta {
  margin-top: 0.10556em;
}

/* line 500, ../../_compass/partials/_layout.scss */
aside.post-meta {
  width: 15.25424%;
  float: left;
  margin-right: 1.69492%;
  margin-left: 8.47458%;
  background-color: #fff;
  font-family: "Raleway", sans-serif;
}
@media (max-width: 657px) {
  /* line 500, ../../_compass/partials/_layout.scss */
  aside.post-meta {
    width: 83.05085%;
    float: left;
    margin-right: 1.69492%;
    padding-left: 0%;
    padding-right: 0%;
  }
}
/* line 512, ../../_compass/partials/_layout.scss */
aside.post-meta span {
  font-weight: 700;
  color: #282828;
}
/* line 516, ../../_compass/partials/_layout.scss */
aside.post-meta ul {
  margin-left: 0;
}
/* line 519, ../../_compass/partials/_layout.scss */
aside.post-meta ul li {
  list-style-type: none;
  margin-bottom: 0.42222em;
}
/* line 523, ../../_compass/partials/_layout.scss */
aside.post-meta ul li ul li {
  line-height: 2.11111em;
  list-style-type: none;
  text-indent: -5px;
  margin: 0;
}
/* line 528, ../../_compass/partials/_layout.scss */
aside.post-meta ul li ul li:before {
  content: "-";
  position: relative;
  left: -5px;
}
/* line 532, ../../_compass/partials/_layout.scss */
aside.post-meta ul ul {
  margin-left: 20px;
}

/* line 540, ../../_compass/partials/_layout.scss */
.blogpost .post {
  width: 66.10169%;
  float: left;
  margin-right: 1.69492%;
}

/*
* Misc
*/
/* line 549, ../../_compass/partials/_layout.scss */
.intro {
  padding-left: 8.47458%;
  padding-right: 8.47458%;
  text-align: center;
}
/* line 553, ../../_compass/partials/_layout.scss */
.intro h1 {
  font-size: 7.77778em;
  line-height: 1.08571em;
  color: #e6e6e6;
}
/* line 559, ../../_compass/partials/_layout.scss */
.intro p {
  text-align: center;
  color: #c8c8c8;
}

/* line 576, ../../_compass/partials/_layout.scss */
.books .booklist ul li {
  box-sizing: border-box;
  height: 160px;
}
/* line 582, ../../_compass/partials/_layout.scss */
.books .booklist ul li a {
  padding: 20px;
  background-color: #e6e6e6;
  background-size: 10880px;
  background-position: -1450px -2850px;
  background-repeat: no-repeat;
  image-rendering: pixelated;
  -moz-transition: background-position 0.3s ease-in;
  -o-transition: background-position 0.3s ease-in;
  -webkit-transition: background-position 0.3s ease-in;
  transition: background-position 0.3s ease-in;
}
/* line 591, ../../_compass/partials/_layout.scss */
.books .booklist ul li a:hover {
  background-position: -1450px -3100px;
}
/* line 597, ../../_compass/partials/_layout.scss */
.books .booklist ul li .book-title {
  display: block;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 1.44444em;
  line-height: 1.46154em;
}
/* line 603, ../../_compass/partials/_layout.scss */
.books .booklist ul li .book-author {
  font-size: 0.88889em;
  line-height: 2.375em;
}

/*
* Animations
*/
@-moz-keyframes fadeIn {
  from {
    -moz-transform: scale(2);
    transform: scale(2);
    opacity: 0;
  }
  to {
    -moz-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  from {
    -webkit-transform: scale(2);
    transform: scale(2);
    opacity: 0;
  }
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    -webkit-transform: scale(2);
    transform: scale(2);
    opacity: 0;
  }
  to {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
/* line 625, ../../_compass/partials/_layout.scss */
.animate {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-animation: fadeIn 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1;
  -webkit-animation: fadeIn 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1;
  animation: fadeIn 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1;
  -moz-animation-delay: 0.6s;
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
  -moz-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -moz-animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

/* line 637, ../../_compass/partials/_layout.scss */
.animate-one {
  -moz-animation-delay: 0.8s;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

/* line 640, ../../_compass/partials/_layout.scss */
.animate-two {
  -moz-animation-delay: 0.8s;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

/*
* Blog post
*/
/*
* About
*/
/* line 658, ../../_compass/partials/_layout.scss */
.about .portrait {
  width: 300px;
  margin: 2.11111em auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
/* line 663, ../../_compass/partials/_layout.scss */
.about .post {
  padding-left: 8.47458%;
  padding-right: 8.47458%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
}
@media (max-width: 657px) {
  /* line 663, ../../_compass/partials/_layout.scss */
  .about .post {
    margin-bottom: 2.11111em;
  }
}

/* line 675, ../../_compass/partials/_layout.scss */
.work {
  margin-bottom: 4.22222em;
}

/* line 679, ../../_compass/partials/_layout.scss */
.intro-image {
  display: block;
  margin: 0 auto 4.22222em auto;
  border-radius: 50%;
}

/* line 686, ../../_compass/partials/_layout.scss */
.slides img {
  box-shadow: 1px 1px 3px #999;
}
/* line 690, ../../_compass/partials/_layout.scss */
.slides li {
  margn-bottom: 1.05556em;
}

/* line 695, ../../_compass/partials/_layout.scss */
.fffix {
  overflow: auto;
}

/* line 699, ../../_compass/partials/_layout.scss */
.skills {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  font-size: 0.77778em;
  line-height: 2.71429em;
}
/* line 703, ../../_compass/partials/_layout.scss */
.skills h2 {
  text-align: center;
}
/* line 706, ../../_compass/partials/_layout.scss */
.skills .section {
  width: 44.44444%;
  float: left;
  margin-right: 11.11111%;
}
/* line 709, ../../_compass/partials/_layout.scss */
.skills .last {
  width: 44.44444%;
  float: right;
  margin-right: 0;
}
/* line 717, ../../_compass/partials/_layout.scss */
.skills li:before {
  content: "-";
  position: relative;
  left: -7px;
}

/**
 * Site footer
 */
/* line 5, ../../_compass/partials/_footer.scss */
.site-footer {
  border-top: 1px solid #e8e8e8;
  padding: 30px 0;
}

/* line 10, ../../_compass/partials/_footer.scss */
.footer-heading {
  font-size: 18px;
  margin-bottom: 15px;
}

/* line 15, ../../_compass/partials/_footer.scss */
.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

/* line 21, ../../_compass/partials/_footer.scss */
.footer-col-wrapper {
  font-size: 15px;
  color: #828282;
  margin-left: -15px;
}

/* line 28, ../../_compass/partials/_footer.scss */
.footer-col {
  float: left;
  margin-bottom: 15px;
  padding-left: 15px;
}

/* line 34, ../../_compass/partials/_footer.scss */
.footer-col-1 {
  width: -webkit-calc(35% - (30px / 2));
  width: calc(35% - (30px / 2));
}

/* line 39, ../../_compass/partials/_footer.scss */
.footer-col-2 {
  width: -webkit-calc(20% - (30px / 2));
  width: calc(20% - (30px / 2));
}

/* line 44, ../../_compass/partials/_footer.scss */
.footer-col-3 {
  width: -webkit-calc(45% - (30px / 2));
  width: calc(45% - (30px / 2));
}

@media screen and (max-width: 800px) {
  /* line 50, ../../_compass/partials/_footer.scss */
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (30px / 2));
    width: calc(50% - (30px / 2));
  }

  /* line 56, ../../_compass/partials/_footer.scss */
  .footer-col-3 {
    width: -webkit-calc(100% - (30px / 2));
    width: calc(100% - (30px / 2));
  }
}
@media screen and (max-width: 600px) {
  /* line 63, ../../_compass/partials/_footer.scss */
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (30px / 2));
    width: calc(100% - (30px / 2));
  }
}
/* line 106, ../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 112.5%;
  line-height: 2.11111em;
}
