<section class="work">

{% assign projects = (site.projects | sort: 'order') %}
	<ul>

		{% for project in projects %}

		<li> <a href="{{ project.url | prepend: site.baseurl }}"><figure><img src="{{ project.tile_image }}" /><figcaption class="center-middle"><span>{{ project.title }}</span>

<!-- 	
		To be added on a rainy day

		{% if project.project-type %}
			<ul class="project-type">
				{% for type in project.project-type %}
					<li>{{ type }}</li>
				{% endfor %}
			</ul>
		{% endif %} 

-->

		</figcaption></figure></a></li>

		{% endfor %}		
	</ul>

</section>
