---
layout: default
---
<header class="post-header">
		<h1 class="post-title">{{ page.title }}</h1>

		{% if page.tagline %}
		<p class="tagline">{{ page.tagline }}</p>
		{% endif %}

		{% if page.image %}
		<figure>
			<img src="{{ page.image }}">
		</figure>
		{% endif %}
	</header>

<aside class="post-meta">
	<ul>
		<li>Date:
			<span>{{ page.date | date: "%d/%m/%Y" }}</span>
		</li>
	</ul>

</aside>

<div class="post">

	<article>
		<div class="post-content">
			{{ content }}
		</div>

	</article>


</div>
